<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/index.js"></script>
  </head>
  <body>
    <nav id="navbar">
      <div>
        <a href="#home">Home</a>
        <p>Ezio Browser</p>
        <a href="#download">Download</a>
      </div>
    </nav>
    <header id="home">
      <main>
        <h1><%= title %></h1>
        <h2>A simple web browser</h2>
        <div class="download-button"><p><a href="#download">Download</a></p></div>
      </main>
    </header>
  </body>
</html>
